<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action ="/" method="post">
    <fieldset>
        <legend>Add an album of your choice</legend>
        <label>Title</label>
        <input type="text" name="title"/>
        <label>Artist</label>
        <input type="text" name="artist"/>
        <label>Song Count</label>
        <input type="text" name="songCount"/>
        <label>Length (in seconds)</label>
        <input type="text" name="length"/>
        <label>imageUrl</label>
        <input type="text" name="imageUrl"/>
        <input type="submit" value="Add Album"/>
    </fieldset>
</form>

<ul th:each="album : ${albums}">
    <li th:text="'Title: ' + ${album.title}"></li>
    <li th:text="'Artist: ' + ${album.artist}"></li>
    <li th:text="'Song count: ' + ${album.songCount}"></li>
    <li th:text="'Length (in seconds): ' + ${album.length}"></li>
    <li><img th:src="${album.imageUrl}" width="600px"></li>

</ul>

</body>
</html>