<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action ="/" method="post">
    <fieldset>
        <legend>Add an album of your choice</legend>
        <label>Title</label>
        <input type="text" name="title"/>
        <label>Artist</label>
        <input type="text" name="artist"/>
        <label>Song Count</label>
        <input type="text" name="songCount"/>
        <label>Length (in seconds)</label>
        <input type="text" name="length"/>
        <label>imageUrl</label>
        <input type="text" name="imageUrl"/>
        <input type="submit" value="Add Album"/>
    </fieldset>
</form>

<div th:each="album : ${albums}">
    <img th:src="${album.imageUrl}" width="300px">
    <form action ="/redirect" method="post">
            <input type="hidden" name="albumName" th:value="${album.title}">
            <input type="submit" th:value="'View ' + ${album.title}"/>
    </form>
</div>

</body>
</html>