<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dubito, ergo cogito, ergo sum</title>
    <link href="/splash.css" rel="stylesheet" type="text/css" />
</head>

<body>

<header>
    <h1> Welcome to my website!</h1>
</header>

<main>
    <p>
        My name is Austin Limanek and I live in Bellingham with my fiancee and my cat. I studied at Western Washington University for undergraduate. I actually have two degrees from WWU.
        The first is in physics and the other is in mathematics/economics. I couldn't decide what I wanted to do, so I just continued learning to keep my
        options open. I have happily found programming in the last several months, and I am currently learning the trade from Code Fellows. I enjoy learning
        about pretty much anything. I also enjoy teaching others things, too. I have been a tutor, at several locations, for over eight years. This experience
        has taught me the value of having many perspectives when looking at a problem. Everyone has their own experience and set of references and when those
        combine they inevitably provide novel insights.
    </p>

    <h2>Work Experience</h2>

    <ul>
        <li>Private tutor: Math, physics, chemistry, biology, and history.</li>
        <li>SPIE: Science publishing intern</li>
        <li>Northwest Washington Medical Society: Internship</li>
        <li>Western Washing University Physics Research: Organic solar cells, Dr. Leger's lab</li>
    </ul>

    <h2>Education</h2>

    <ul>
        <li>Code Fellows coding boot camp: 101, 102, 201, 301, and 401</li>
        <li>Western Washington University: B.S. in Physics and B.A. in Mathematics/Economics</li>
    </ul>

    <h2>Travel bucket list:</h2>

    <ol>
        <li>Taormina, Italy</li>
        <li>Ephesus, Turkey</li>
        <li>Prague, Czechia</li>
        <li>Sydney, Australia</li>
        <li>Grand Canyon, Arizona, US</li>
        <li>Rome, Italy</li>
        <li>Cairo, Egypt</li>
        <li>Singapore, Singapore</li>
        <li>Barcelona, Spain</li>
        <li>Baku, Azerbaijan</li>
    </ol>
</main>

<footer>
    <p>Copyright &copy; 2022 NoMichi</p>
</footer>

</body>
</html>